---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';

interface Props {
  post: any;
}

const { post } = Astro.props;
const hero = post?.data?.heroImage as ImageMetadata | undefined;

const getRandomMargin = () => {
  const margins = ["mt-36", "mt-72", "mt-56", "mt-96"];
  return margins[Math.floor(Math.random() * margins.length)];
};
var margin = "";
if (post.id === "img2") {
  margin = "!mt-0";
}
import FormattedDate from "@/components/FormattedDate.astro";
---

<li class={`md:${getRandomMargin()} ${margin} relative`}>
  <a
    href={`/blog/${post.id}/`}
    class="relative flex flex-col gap-2 p-6 max-w-96"
  >
    {hero && (
      <Image
        src={hero}
        width={1280}
        quality={80}
        alt={post.data.title}
        class="w-full"
        loading="lazy"
        decoding="async"
      />
    )}

    <p class="font-bold text-xl">{post.data.title}</p>
  </a>
  <p class="absolute rotate-90 -right-8 bottom-24">
    <FormattedDate date={new Date(post.data.pubDate)} />
  </p>
</li>